<h1>Welcome to Farmers Market, <%= farm_name %>!</h1>
<br>
<h4>You have take the first step to making the world a better place with your food online.
Remember to login and start adding products to your online store.</h4>
<a href="http://farmers-market-pivot.herokuapp.com/login">Login to add products</a>
